<header> <b> IT REPAIR WEBSITE </b></header>
<div class="container-fluid">
	<div class="row">
			
		<ul class="nav nav-tabs">
			<li role="presentation" ><a href="/">Home</a></li>
			<li role="presentation"><a href="/repair-list">Repair List</a></li>
			<li role="presentation"><a href="/form">Repair Form </a></li>
		</ul>
			
	</div>

	<div class="row">
		<div class="col-md-offset-4 col-md-4">
			<div class="panel panel-info">
			  <div class="panel-heading">
			    <h3 class="panel-title"><strong> <%= @repair.THnum %></strong></h3>
			  </div>
			  <div class="panel-body">
			  	<div class="row">
			    	<div class="col-md-6"> Status :</div>
			    	<div class="col-md-6"> <%= @repair.status %> </div>
			    </div>
			    <div class="row">
			    	<div class="col-md-6"> Ticket Number : </div>
			    	<div class="col-md-6"> <%= @repair.ticketNum %> </div>
			    </div>
			    <div class="row">
			    	<div class="col-md-6"> Name : </div>
			    	<div class="col-md-6"> <%= @user.firstName + ' ' +@user.lastName %> </div>
			    </div>
			    <div class="row">
			    	<div class="col-md-6"> Email :</div>
			    	<div class="col-md-6"> <%= @user.email %> </div>
			    </div>
			    <div class="row">
			    	<div class="col-md-6"> Department : </div>
			    	<div class="col-md-6"> <%= @user.dept %> </div>
			    </div>
			    <div class="row">
			    	<div class="col-md-6"> Phone :</div>
			    	<div class="col-md-6"> <%= @repair.phone %> </div>
			    </div>
			    <div class="row">
			    	<div class="col-md-6"> GL code :</div>
			    	<div class="col-md-6"> <%= @user.GLnum %> </div>
			    </div>
			    <div class="row">
			    	<div class="col-md-6"> Phone number :</div>
			    	<div class="col-md-6"> <%= @repair.phoneNum %> </div>
			    </div>
			    <div class="row">
			    	<div class="col-md-6"> IMEI :</div>
			    	<div class="col-md-6"> <%= @repair.IMEI %> </div>
			    </div>
			    <div class="row">
			    	<div class="col-md-6"> Problem :</div>
			    	<div class="col-md-6"> <%= @repair.problem %> </div>
			    </div>
				
			<% if @comment != null %>
-			    	<% @comment.each do |comment| %>
-			    		<div class="row">
-					    	<div class="col-md-6"> Comment :</div>
-					    	<div class="col-md-6"> <%= comment.comment %> <br> By : <%= comment.user %> </div>
-					    </div>
-			    	<% end %>
-			 <% end %>

			    


			    <div class="row add-padding">
			    	<div class="col-md-offset-8 col-md-4">
			    		<% if @repair.status == "on repair" %>
					    	<a href="/repair/<%= @repair.id %>/back-from-repair" class="btn btn-primary">Back From Repair </a>
					    <% elsif @repair.status == "Back From Repair" %>
					    	<a href="/repair/<%= @repair.id %>/close" class="btn btn-primary"> Close </a>
					    <% end %>
			    	</div>
			    </div>
			    <div class="row ">
			    	<div class="col-md-offset-8 col-md-4">
			    		<a href="/repair/<%= @repair.id %>/add-comment" class="btn btn-primary">Add Comment</a>
			    	</div>
			    	
			    </div>
			    

			  </div>

			</div>
		</div>
	</div>

</div>
